This is a short introduction to xndframes. Xndframes implements Pandas ExtensionDType/Array backed by [xnd](http://xnd.readthedocs.io/en/latest/xnd/index.html).


Let's import necessary packages

In [1]:
import xndframes as xf
import xnd
import pandas as pd

## Object Creation

In [3]:
strings = ["Pandas", "NumPy", "xnd", "SciPy", None, "CuPy", None]

In [4]:
sa = xf.StringArray(strings)

In [5]:
sa

In [6]:
sa.data

xnd(['Pandas', 'NumPy', 'xnd', 'SciPy', None, 'CuPy', None], type='7 * ?string')

In [14]:
sa.shape

(7,)

In [15]:
sa.unique()

In [16]:
sa.unique().data

xnd(['Pandas', 'NumPy', 'xnd', 'SciPy', None, 'CuPy'], type='6 * ?string')

In [17]:
sa.isna()

array([False, False, False, False,  True, False,  True])

### Series

In [7]:
ser = pd.Series(sa)

In [8]:
ser

0    Pandas
1     NumPy
2       xnd
3     SciPy
4      None
5      CuPy
6      None
dtype: string

In [9]:
ser.data

/home/abanihirwe/opt/miniconda3/envs/xnd-env/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Series.data is deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.

xnd(['Pandas', 'NumPy', 'xnd', 'SciPy', None, 'CuPy', None], type='7 * ?string')

In [10]:
ser.dtype

In [22]:
ser[1]

'NumPy'

In [23]:
ser[1:4]

1    NumPy
2      xnd
3    SciPy
dtype: string

In [24]:
ser[slice(0,2,6)]

0    Pandas
dtype: string

In [26]:
ser[-4]

'SciPy'

In [13]:
concatenated_series = pd.concat([ser, ser], ignore_index=True)
concatenated_series

0     Pandas
1      NumPy
2        xnd
3      SciPy
4       None
5       CuPy
6       None
7     Pandas
8      NumPy
9        xnd
10     SciPy
11      None
12      CuPy
13      None
dtype: string

### DataFrame

In [18]:
df = pd.DataFrame({'packages': sa})
df.head()

  packages
0   Pandas
1    NumPy
2      xnd
3    SciPy
4     None

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 1 columns):
packages    5 non-null string
dtypes: string(1)
memory usage: 136.0 bytes

In [20]:
df.describe()

       packages
count         5
unique        5
top        CuPy
freq          1

In [21]:
df.dtypes["packages"]

In [27]:
df.take([0, 2, 5])

  packages
0   Pandas
2      xnd
5     CuPy

In [29]:
df.loc[2, "packages"]

'xnd'

In [30]:
df.isna()

   packages
0     False
1     False
2     False
3     False
4      True
5     False
6      True

In [31]:
df.dropna()

  packages
0   Pandas
1    NumPy
2      xnd
3    SciPy
5     CuPy