In [7]:
import xndframes as xf
import pandas as pd
from xnd import xnd

In [5]:
data = [u"ðŸ™ˆ", u"Ã–", u"ÄŒ", u"a", u"B"]

In [8]:
sa = xf.StringArray(data)

In [9]:
sa

In [10]:
type(sa)

xndframes.string_array.StringArray

In [11]:
sa.data

xnd(['ðŸ™ˆ', 'Ã–', 'ÄŒ', 'a', 'B'], type='5 * string')

In [12]:
sa.dtype

In [14]:
sa.isna()

array([False, False, False, False, False])

In [15]:
sa.base

xnd(['ðŸ™ˆ', 'Ã–', 'ÄŒ', 'a', 'B'], type='5 * string')

In [18]:
sa.take(1).data

xnd('Ã–', type='string')

In [19]:
sa.nbytes

40

In [20]:
sa.size

5

In [21]:
pd.Series(sa)

0    ðŸ™ˆ
1    Ã–
2    ÄŒ
3    a
4    B
dtype: string

In [42]:
df = pd.DataFrame({'xnd': pd.Series(sa)})
df

  xnd
0   ðŸ™ˆ
1   Ã–
2   ÄŒ
3   a
4   B

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 1 columns):
xnd    5 non-null string
dtypes: string(1)
memory usage: 120.0 bytes

In [45]:
data2 = ["B", "B", None, None, "A", "A", "B", "C"]
sa = xf.StringArray(data2)

In [46]:
sa.data

xnd(['B', 'B', None, None, 'A', 'A', 'B', 'C'], type='8 * ?string')

In [47]:
sa.isna()

array([False, False,  True,  True, False, False, False, False])

In [51]:
series = pd.Series(sa)

In [53]:
df = series.to_frame(name='xnd-data')
df

  xnd-data
0        B
1        B
2     None
3     None
4        A
5        A
6        B
7        C

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 1 columns):
xnd-data    6 non-null string
dtypes: string(1)
memory usage: 144.0 bytes